body {
  background: #3f6c37;
  display: flex;
  justify-content: center;
}

.alice-container {
  width: 90vh;
  display: grid;
  place-items: center;
  grid-template-areas:
    "a1 . ."
    ". a2 ."
    ". . a3";
}

.alice {
  width: 100px;
  height: 100px;
}

.a1 {
  grid-area: a1;
}

.a2 {
  grid-area: a2;
}

.a3 {
  grid-area: a3;
}
